@*<ul class="nav navbar-nav navbar-right navbar-inverse">

    <li class="dropdown">
        <a href="#" id="lang-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="/images/flags/@(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName).png" alt="@(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToUpper())" heigth="18" class="img-rounded" /><span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lang navbar-inverse">
            @{
                var location = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}");
}

            <li><a href="@Url.Action("Change", "Culture", new {area = string.Empty, uICulture = "bg", returnUrl = location.AbsoluteUri})" class="lb-dd-button"><img src="/images/flags/bg.png" alt="BG" heigth="18" class="img-rounded"/></a></li>
            <li><a href="@Url.Action("Change", "Culture", new {area = string.Empty, uICulture = "en", returnUrl = location.AbsoluteUri})" class="lb-dd-button"><img src="/images/flags/en.png" alt="ENG" heigth="18" class="img-rounded"/></a></li>
        </ul>
    </li>
</ul>*@

@{
    var location = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}");
}

<div class="dropdown  nav-link text-dark">

    <a href="#" id="lang-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="/images/flags/@(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName).png"
             alt="@(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToUpper())" heigth="18" class="rounded"/>
        <span class="caret">
        </span>
    </a>

    <div class="dropdown-menu dropdown-menu-culture" aria-labelledby="dropdownMenuLink">
        <a href="@Url.Action("Change", "Culture", new {area = string.Empty, uICulture = "bg", returnUrl = location.AbsoluteUri})" 
           class="dropdown-item lb-dd-button">
            <img src="/images/flags/bg.png" alt="BG" heigth="18" class="rounded"/>
        </a>
        <a href="@Url.Action("Change", "Culture", new {area = string.Empty, uICulture = "en", returnUrl = location.AbsoluteUri})" 
           class="dropdown-item lb-dd-button">
            <img src="/images/flags/en.png" alt="ENG" heigth="18" class="rounded"/>
        </a>
    </div>
</div>
