@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Administration.Pages.AdministrationModel
@inject ILocalizationService<LayoutResource> LayoutLocalizer

@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("ADMINISTRATION");
    Layout = "_LayoutSlim";
}

<h2>@ViewData["Title"]</h2>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @LayoutLocalizer.GetLocalizedHtmlString("ADMINISTRATION")
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <a asp-area="Administration" asp-controller="Users" asp-action="Index" 
                   class="list-group-item list-group-item-action">
                    <i class="fas fa-users fa-2x"></i>&nbsp;&nbsp;&nbsp;
                    @LayoutLocalizer.GetLocalizedHtmlString("ADMINISTRATION_USERS_ADMINISTRATION")
                    
                </a>
                <a asp-area="Administration" asp-controller="Roles" asp-action="Index"  
                   class="list-group-item list-group-item-action">
                    <i class="fas fa-users-cog fa-2x"></i>&nbsp;&nbsp;&nbsp;
                    @LayoutLocalizer.GetLocalizedHtmlString("ADMINISTRATION_ROLES_ADMINISTRATION")
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    @LayoutLocalizer.GetLocalizedHtmlString("NOM_MANAGEMENT")
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Not implemented yet!
            </div>
        </div>
    </div>
</div>


