@using System.Collections.Specialized
@using BmsSurvey.Application.Questions.Models.EvaluationModels
@using BmsSurvey.Domain.Entities
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.Application.Surveys.Models.EvaluateSurveyViewModel
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<button type="button" class="btn btn-dark" onclick="getPDF('.pdf-container')">Export Pdf</button>
<div class="container pdf-container">
    <h2 class="display-3 text-center">@Model.SurveyTitle</h2>
    @if (@Model.Description?.Length > 0)
    {
        <hr />
        <p class="lead text-justify">@Model.Description</p>
    }
    <hr />
    <h3 class="display-4 text-center">@LayoutLocalizer.GetLocalizedHtmlString("ANSWER_ANALYSIS")</h3>
    <br />
    <table class="table table-striped">
        @foreach (var result in Model.EvaluatedQuestions)
        {
            <tr>
                <td>
                    <h4>@($"{result.DisplayNumber}. {result.Text}")</h4>
                    @if (result is FreeTextAnswerQuestionEvaluationModel freeQuestion)
                    {
                        <div class="question-summary-wrapper">
                            <span class="badge badge-primary">
                                @LayoutLocalizer.GetLocalizedHtmlString("ANSWER_COUNT") <span class="badge badge-light">@result.AnswersCount</span>
                            </span>
                        </div>

                        <partial name="_Answers" model="@freeQuestion.Answers" />
                    }
                    else
                    {
                        <div class="row">

                            <div class="col-6 align-self-center">
                                <div class="question-summary-wrapper">
                                    <span class="badge badge-primary">
                                        @LayoutLocalizer.GetLocalizedHtmlString("ANSWER_COUNT") <span class="badge badge-light">@result.AnswersCount</span>
                                    </span>
                                    <span class="badge badge-info">
                                        @LayoutLocalizer.GetLocalizedHtmlString("COMPLETED_SURVEY_COUNT") <span class="badge badge-light">@Model.CompletedSurveyCount</span>
                                    </span>
                                    @if (result is Rate1to5StarsQuestionEvaluationModel questionEstimation)
                                    {
                                        <span class="badge badge-success">
                                            @LayoutLocalizer.GetLocalizedHtmlString("AVERAGE_RATING") <span class="badge badge-light">@(questionEstimation.AverageValue)</span>
                                        </span>
                                    }
                                </div>
                                <vc:answer-table answer-data="@result.DistributionOfResultsAbsolute"></vc:answer-table>
                            </div>
                            <div class="col-6 text-center">
                                @if (result.DistributionOfResultsPercentage.Any())
                                {
                                    <vc:pie-chart pie-data="@result.DistributionOfResultsPercentage" pie-type="@result.QuestionType"></vc:pie-chart>
                                }
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts
    {
    <script type="x/kendo-template" id="page-template">
        <div class="page-template">
            <div class="footer">
                <div class="float-right">
                    @Html.Raw(LayoutLocalizer.GetLocalizedHtmlString("PAGE")) #: pageNum # @Html.Raw(LayoutLocalizer.GetLocalizedHtmlString("FROM_PAGES")) #: totalPages #
                </div>
            </div>
        </div>
    </script>

    <script>
        function getPDF(selector) {
            let drawing = kendo.drawing;
            drawing.drawDOM(selector, {
                paperSize: "A4",
                margin: { top: "1cm", left: "2cm", right: "1cm", bottom: "1cm" },
                template: $("#page-template").html(),
                scale: 0.45
            }).then(function (group) {
                drawing.pdf.saveAs(group, "grid.pdf");
            });
        }
    </script>
}
