@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Identity.Pages.Account.Manage.GenerateRecoveryCodesModel
@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<partial name="_StatusMessage" model="@Model.StatusMessage" />

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@LayoutLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_SAFE_PLACE")</strong>
    </p>
    <p>
        @LayoutLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_INFO_LOSE")
    </p>
    <p>
        @LayoutLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT")
        <a asp-page="./ResetAuthenticator">@LayoutLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_TEXT_LINK")</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@LayoutLocalizer.GetLocalizedHtmlString("GENERATE_RECOVERY_CODES")</button>
    </form>
</div>